<ng-container *ngIf="view == 'list'">
    <div class="container outer-c">
        <div class="title">
            Liste des envoi
        </div>
    
        <div class="row mt-4">
            
            <div class="col-12">
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field>
                <div class="mat-elevation-z8">
                    
                    <table mat-table [dataSource]="dataSource">
            
                        
        
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>Position</th>
                            <td mat-cell *matCellDef="let element ; let i = index" class="">{{i + 1}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="moyen">
                            <th mat-header-cell *matHeaderCellDef>Moyen d'envoi</th>
                            <td mat-cell *matCellDef="let element" class="">{{element.moyen}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element" class="">{{element.date.slice(0,10)}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef>Documents</th>
                            <td mat-cell *matCellDef="let element" class="">{{element.quantity}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="action" >
                            <th mat-header-cell *matHeaderCellDef style="width: 20%;">Action</th>
                            <td mat-cell *matCellDef="let element" class="">
                                <button mat-flat-button color="primary" (click)="switchView(element.entity.id)">Details</button>
                                <button color="warn" style="border: 0; background-color: white;" class="float-right" aria-label="Example icon button with a delete icon" (click)="delete(element.entity)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
        
                        
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                        
                    </table>
                    <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
                    </mat-paginator>
                </div>
                
                
            </div>
        </div>
    
        
    
        
    </div>
</ng-container>
<ng-container *ngIf="view == 'details'">
    <app-details-envoi [envoi_id]="envoi_id" (view)="recieveMessage($event)"></app-details-envoi>
</ng-container>
