.container{
    color: #242424;
    margin: 1rem 0;
}

mat-label{
    color: #242424;
    
}

input{
    
}

mat-form-field{
    
    border-radius: 2px;
    padding-bottom: 5px;
}

mat-dialog-container {
    background-color: white !important;
 }

button{
    
    text-align: center;
}

.icon-status{
    display: inline;
    font-size: 1.4rem;
}