<ng-container *ngIf="message == null">
    <div class="welcome-text text-center mt-5">
        Bienvenue dans notre application de
        <div class="container w-50 ">
            <div class="row d-flex justify-content-center">
            
                <div class="col-2 text-end px-0"><div class="red-line align-middle"></div></div>
                <div class="col-7 px-0">
                    <span class="red-welcome-text text-center text-danger fw-bold ">
                        GESTION ADMINISTRATION
                        
                    </span>
                </div>
                <div class="col-2 text-start px-0 ">
                    <div class="red-line align-middle"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="message == 'AC'">
    <app-add-collab></app-add-collab>
</ng-container>

<ng-container *ngIf="message == 'LC'">
    <app-list-collab></app-list-collab>
</ng-container>

<ng-container *ngIf="message == 'AM'">
    <app-add-material></app-add-material>
</ng-container>

<ng-container *ngIf="message == 'LM'">
    <app-list-material></app-list-material>
</ng-container>

<ng-container *ngIf="message == 'ABS'">
    <app-add-document></app-add-document>
</ng-container>

<ng-container *ngIf="message == 'LBS'">
    <app-list-document></app-list-document>
</ng-container>

<ng-container *ngIf="message == 'ACE'">
    <app-add-envoi></app-add-envoi>
</ng-container>

<ng-container *ngIf="message == 'LCE'">
    <app-list-envoi></app-list-envoi>
</ng-container>

<ng-container *ngIf="message == 'ACR'">
    <app-add-recieve></app-add-recieve>
</ng-container>

<ng-container *ngIf="message == 'LCR'">
    <app-list-recieve></app-list-recieve>
</ng-container>

<ng-container *ngIf="message == 'AR'">
    <app-add-reunion></app-add-reunion>
</ng-container>

<ng-container *ngIf="message == 'LR'">
    <app-list-reunion></app-list-reunion>
</ng-container>




