
<div class="container p-1" >
    <div class="row mt-3">
        <div class="col">
            <button class="ghost-menu-button"> <fa-icon [icon]="faUser" class="icon"></fa-icon> Collaborateur</button>
            <button class="secondary-button" [ngClass]="message == 'AC' ? 'selected-button' : ''" (click)="sendMessage('AC')">Ajouter</button>
            <button class="secondary-button" [ngClass]="message == 'LC' ? 'selected-button' : ''"(click)="sendMessage('LC')">Liste</button>
        </div>
    </div>  
    <div class="row mt-3">
        <div class="col">
            <button class="ghost-menu-button"><fa-icon [icon]="faBoxOpen" class="icon"></fa-icon> Material</button>
            <button class="secondary-button" [ngClass]="message == 'AM' ? 'selected-button' : ''" (click)="sendMessage('AM')">Ajouter</button>
            <button class="secondary-button" [ngClass]="message == 'LM' ? 'selected-button' : ''" (click)="sendMessage('LM')">Liste</button>
        </div>
    </div>   
</div>
