.outer-c{
    margin: 2rem;
    width: 80%;
}

.input{
    padding: 5px 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #878787;
}

table{
    width: 100%;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}

.button{
    padding-left: 22px;
    padding-right: 22px;
}

.margin-right{
    margin-right: 10px;
}

.icon-green{
    margin-top: 2px;
    font-size: 1.7rem;
    color:rgb(81, 207, 165);
}
.icon-yellow{
    margin-top: 2px;
    font-size: 1.7rem;  
    color:rgb(246, 232, 81);
}

.sent-icon-margin{
    margin-right: 5px;
    
}

.edit-save-icon{
    margin-left: 5px;
    font-size: 1.1rem;
}

.border-color-danger{
    border-color: #dc3545;
}

.border-color-danger:focus{
    border-color: #dc3545 !important;
}

.tooltip-red{
    background: #dc3545;
}

.time_field{
    width: 33px;
    background-color: #f4f4f4;
}

.prevu{
    color: #d6a71b;
    border-color: #d6a71b;
}

.annuler{
    color:#dc3545;
    border-color: #dc3545;

}

.acheve{
    color:#42CD83; 
    border-color: #42CD83;
}

.etat{
    margin-right: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}
