.container{
    margin: 2rem;
    width: 95%;
    padding: 0;
}

.container_SN{
    margin: 0!important;
}

.input{
    padding: 5px 15px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #878787;
}

.serial_number_input{
    padding: 5px 15px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #878787;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 22px;
    padding-right: 22px;
}

.checkbox-container{
    position: relative;
    top: 40%;
}

.checkbox-label{
    margin-left: 10px;
}

.plusIcon{
    margin-left: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.disabled{
    background-color: rgb(214, 214, 214);
}
